#img-fluid{
    padding-top: 310px;

    
}
#back_img{
    background-image: url(img/subscribe_area.png);
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 80px;
    
}
.navbar-toggler{
    border: none;
    text-align: left;
    font-weight: bolder;
}
#nav{
    background-color: aliceblue;
}
#slide{
  height: 100vh;  
  /* display: flex;
  flex-wrap: wrap;
  align-items: center; */
  padding-bottom: 100px;
  padding-top: 200px;
  
}
#slide h3{
    font-size: 40px;
}
/* #banner{
    height: 400px;
} */
 #cap{
    height: 100vh;
 }
#wood{
    background-color: aliceblue;
    height: 100vh;
    align-content: center;
}
#yellow{
    padding-top: 80px;
}
#feature{
    padding-bottom: 100px;
}
/* #offer{
    padding-top: 100px;
    padding-left: 150px;
} */
#sale{
    background-color: aliceblue;
    padding-bottom: 50px;
}
#form{
    /* width: 350px; */
    border: none;
}


@media screen and (min-width: 768px) {
    .client{
        border-bottom: 1px solid gray;
        border-right: 1px solid gray;
    }
    .client-bottom{
        border-bottom: 1px solid gray ;
        
    }
    .client-1{
        border-right: 1px solid gray;
    }
}

@media screen and (min-width: 1200px) {
    #back_img{
        background-image: url(img/subscribe_area.png);
        background-size: 120% 100%;
        background-position: center;
        padding-top: 80px;
        padding-bottom: 80px;
        height: 90vh;
        
    }

    .mmmm{
        float: right;
    }
    #news{
        padding-left: 350px;
        padding-top: 50px;
    }
    .client{
        border-bottom: 1px solid gray;
        border-right: 1px solid gray;
    }
    .client-bottom{
        border-bottom: 1px solid gray ;
        
    }
    .client-1{
        border-right: 1px solid gray;
    }
    /* .carousel-item{
        position: relative;
    }
    #bann{
        position: absolute;
        right: 300px;
    } */
     .carousel-item{
        position: relative;
     }
     #now{
        position: absolute;
        left: 50px;
        bottom: 20px;
        width: 150px;
     }
     .carousel-caption{
        position: absolute;
        left: 50px;
        height: 45vh;
     }
     .www{
        font-size: 65px;
        font-weight: bolder;
        
     }
     #qq{
        padding-left: 100px;
     }
     #ft{
        width: 600px;
     }
     #feature{
        position: relative;
     }
     #ft_3{
        position: absolute;
        top: 600px;
        left: 300px;
     }
  }